{% extends '_base.html'%}

{% block title %}Novo{% endblock%}

{% block body%}
<div class="container">
    <div class="row">
        <h3 class="col-10">Cliente</h3>
    </div>
    <form class="form-control" action="{% url 'clientes:add' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">

                <div class="form-check">
                    {{ form.ativo }}
                    <label class="form-check-label">Ativo</label>
                </div>

            </div>
        </div>

        <div class="row pt-2">
            <div class="col">
                <label class="form-label">{{ form.nome.label }}</label>
                {{ form.nome }}
            </div>
            <div class="col">
                <label class="form-label">{{ form.sobrenome.label }}</label>
                {{ form.sobrenome }}
            </div>
            <div class="col-2">
                <label class="form-label">{{ form.cpf.label }}</label>
                {{ form.cpf }}
            </div>
        </div>

        <div class="row pt-2">

            <div class="col-3">
                <label class="form-label">{{ form.celular.label }}</label>
                {{ form.celular }}
            </div>

            <div class="col">
                <label class="form-label">{{ form.email.label }}</label>
                {{ form.email }}
            </div>

            <div class="col-5">
                <label class="form-label">{{ form.logradouro.label }}</label>
                {{ form.logradouro }}
            </div>
        </div>

        <div class="row pt-2">
            <div class="col">
                <button class="btn btn-primary" type="submit">Salvar</button>
                <a class="btn btn-danger" href="{% url 'clientes:home' %}">Cancelar</a>
            </div>
        </div>
    </form>

</div>
{% endblock %}