{% extends '_base.html'%}

{% block title%}Painel administrativo{% endblock %}
{% block nav %}
<nav class="shadow navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'clientes:home' %}">Painel Administrativo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navigation">
            <div class="navbar-nav mr-auto">
                <a class="nav-link" href="">Meus bilhetes<span class="sr-only">(current)</span></a>
            </div>

            <span class="navbar-text">
                <div class="dropdown text-dash">
    
                    <a class="nav-link dropdown-toggle "  id="dropdown_user" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {% if user.is_authenticated %}
                            Bem-vindo | {{ user.first_name }}
                        {% else %}
                            Área do usuário
                        {% endif %}
                    </a>
                    <div class="dropdown-menu text-dash" aria-labelledby="dropdown_user">
                        <a class="dropdown-item" href="">Perfil {{user.cliente}}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item " href="">Cadastro</a>
                        <a class="dropdown-item " href="">Entrar</a>
                        <a class="dropdown-item " href="">Sair</a>
                    </div>
                </div>
            </span>
        </div>
        
    </div>
</nav>
{% endblock %}

{% block body %}

<div class="container">

    <div class="row pt-4">
        <div class="col">
            <h2>Rifas</h2>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-1 row-cols-xl-2 "><!-- row-cols já define os padroes das cols -->
        <div class="col pt-4">
            <div class="card h-100">
                <img src="https://xn--80aadc3bb0afph5eue.xn--p1ai/images/no_photo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Titulo</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Sub titulo</h6>
                    <p class="card-text">Descrição Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Participar</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        Data do sorteio: 10/05/2022
                    </small>
                </div>
            </div>
        </div>

        <div class="col pt-4">
            <div class="card h-100">
                <img src="https://xn--80aadc3bb0afph5eue.xn--p1ai/images/no_photo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Titulo</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Sub titulo</h6>
                    <p class="card-text">Descrição Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Participar</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Data do sorteio: 10/05/2022</small>
                </div>
            </div>
        </div>

        <div class="col pt-4">
            <div class="card h-100">
                <img src="https://xn--80aadc3bb0afph5eue.xn--p1ai/images/no_photo.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Titulo</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Sub titulo</h6>
                    <p class="card-text">Descrição Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Participar</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Data do sorteio: 10/05/2022</small>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
