{% extends '_base.html'%}

{% block title %}Painel Administrativo{% endblock%}

{% block nav %}
    {% include 'menu.html' %}
{% endblock %}

{% block body %}

<div class="container">
    {{ rifa.cota.bilhete }}

    <div class="row">

        <div class="col-12 col-md-12">
            <div class="row">
                <div class="col-12 col-md-12 pt-4">
                    <h2>{{ rifa.titulo }}
                        {% if organizador %}
                            <a href="" class="">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        {% endif %}
                    </h2>
                </div>

                <div class="col">
                    <h6><i class="bi bi-trophy"> Prêmios: 
                        {% for item in itens %}
                            {{ item.quantidade }}-{{ item.nome }}
                        {% endfor %}
                    </i></h6>
                </div>

                <div class="col-12">
                    <p class="h6 text">
                        <i class="bi bi-calendar3"> {{ rifa.data_sorteio|date:'d/m/y' }} |</i> 
                        <i class="bi bi-cash-stack"> {{ rifa.valor_cota }} Reais |</i> 
                        <i class="bi bi-person"> {{ rifa.organizador.get_nome_completo }}</i> 
                    </p>
                </div>

                <div class="col-12">
                    <p class="h4 text">
                        {{ rifa.descricao }}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-12 pt-1">
            <img src="https://brinox.vteximg.com.br/arquivos/ids/262227-1200-800/Vermelho-Brinox.jpg" class="card-img-top" alt="...">
        </div>

        <div class="col-12 col-md-12 pt-4">
            <h3>Cotas</h3>
            <h5>Status</h6>
            <h6>
                <span class="badge p-2 badge-secondary">Disponiveis</span>
                <span class="badge p-2 badge-danger">Reservada</span>
                <span class="badge p-2 badge-success">Paga</span>
            </h6>

            <div class="text-center pt-2 pb-4">
                {% for cota in cotas %}
                    {% if cota.reservada %}
                        <a class="btn btn-danger mt-1 mb-1 disabled" role="button" aria-disabled="true"> {{ cota.valor }} </a> 
                    {% elif cota.paga %}
                        <a class="btn btn-success mt-1 mb-1 disabled" role="button" aria-disabled="true"> {{ cota.valor }} </a> 
                    {% else %}
                        <a class="btn btn-secondary mt-1 mb-1 cota" id="{{cota.valor}}"> {{ cota.valor }} </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script>
        var teste = []

        $('.cota').on('click', function() {
            var id = `#${this.innerText}`
            teste.push(this.innerText)

            $(id).addClass('disabled')
            console.log(teste)
        })
    </script>
{% endblock %}