{% extends '_base.html'%}

{% block title %}Painel Administrativo{% endblock%}

{% block nav %}
    {% include 'menu.html' %}
{% endblock %}

{% block body %}

<div class="container">
    {{ rifa.cota.bilhete }}

    <div class="row">

        <div class="col-12 col-md-12">
            <div class="row">
                <div class="col-12 col-md-12 pt-4">
                    <h2>{{ rifa.titulo }}
                        {% if organizador %}
                            <a href="" class="">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        {% endif %}
                    </h2>
                </div>

                <div class="col">
                    <h6><i class="bi bi-trophy"> Prêmios: 
                        {% for item in itens %}
                            {{ item.quantidade }}-{{ item.nome }}
                        {% endfor %}
                    </i></h6>
                </div>

                <div class="col-12">
                    <p class="h6 text">
                        <i class="bi bi-calendar3"> {{ rifa.data_sorteio|date:'d/m/y' }} |</i> 
                        <i class="bi bi-cash-stack"> {{ rifa.valor_cota }} Reais |</i> 
                        <i class="bi bi-person"> {{ rifa.organizador.get_nome_completo }}</i> 
                    </p>
                </div>

                <div class="col-12">
                    <p class="h4 text">
                        {{ rifa.descricao }}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-12 pt-1">
            <img src="https://brinox.vteximg.com.br/arquivos/ids/262227-1200-800/Vermelho-Brinox.jpg" class="card-img-top" alt="...">
        </div>

        <div class="col-12 col-md-12 pt-4">
            <h3>Cotas</h3>
            <h5>Status</h6>
            <h6>
                <span class="badge p-2 badge-secondary">Disponiveis</span>
                <span class="badge p-2 badge-danger">Reservada</span>
                <span class="badge p-2 badge-success">Paga</span>
            </h6>

            <div class="text-center pt-2 pb-4">
                {% for cota in cotas %}
                    {% if cota.reservada %}
                        <a class="btn btn-danger mt-1 mb-1 disabled" role="button" aria-disabled="true"> {{ cota.valor }} </a> 
                    {% elif cota.paga %}
                        <a class="btn btn-success mt-1 mb-1 disabled" role="button" aria-disabled="true"> {{ cota.valor }} </a> 
                    {% else %}
                        <a class="btn btn-secondary mt-1 mb-1 cota" data-toggle="button" aria-pressed="false" id="{{cota.valor}}"> {{ cota.valor }} </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-cente">
        <div class="col-12 col-md-12 pt-2 pb-4">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-12 pt-1">
                        <div class="row r">
                            <div class="col">
                                <label>Cotas</label>
                                <input name="cotas_selecionadas" id="cotas_selecionadas" class="form-control" readonly>
                            </div>
                            <div class="col">
                                <label>Valor Total</label>
                                <input type="number" name="valor_total" id="valor_total" class="form-control" readonly>
                            </div>
                            <div class="col-1 align-self-end">
                                <button type="submit" class="btn btn-primary ">Comprar</button>
                            </div>
                        </div>
                        <div class="col-md-1 pt-1">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script>
        $('.form-row').hide()
        var lista_cotas = []
        var valor = '{{ rifa.valor_cota }}'

        console.log(valor)
        $('.cota').on('click', function() {

            if (!lista_cotas.includes(this.innerText)){
                lista_cotas.push(this.innerText)
            } else {
                lista_cotas = lista_cotas.filter((cota) => { 
                    if(cota != this.innerText) {
                        return cota
                    }
                })
            }

            if (lista_cotas.length >= 1) {
                $('.form-row').show()
            } else {
                $('.form-row').hide()
            }

            $('#cotas_selecionadas').val(lista_cotas)
            $('#valor_total').val(parseFloat(valor) * lista_cotas.length)

            console.log(lista_cotas)
        })
    </script>
{% endblock %}