{% extends '_base.html' %}

{% block title%}Painel Administrativo{% endblock %}

{% block main%}
    <div class="row">
        <div class="col">
            <h1 class="text-center">Painel Administrativo</h1>
        </div>
    </div>

    <div class="row">
        <!-- Menu -->
        <div class="col-1">

            <div class="row">
                <div class="col-12">
                    <a class="h5" href="">Bilhetes</a>
                </div>
                <div class="col-12">
                    <a class="h5" href="">Clientes</a>
                </div>
                <div class="col-12">
                    <a class="h5" href="">Itens</a>
                </div>
                <div class="col-12">
                    <a class="h5" href="">Logradouros</a>
                </div>
                <div class="col-12">
                    <a class="h5" href="">Organizadores</a>
                </div>
                <div class="col-12">
                    <a class="h5" href="">Pessoas</a>
                </div>
                <div class="col-12">
                    <a class="h5" href="">Rifas</a>
                </div>
            </div>

        </div>
        <!-- Body -->
        <div class="col">

            <div class="row">
                <div class="col">
                </div>
            </div>

        </div>
    </div>
{% endblock %}