<nav class="shadow navbar navbar-expand-lg navbar-light bg-light">

    <div class="container">
        <a class="navbar-brand" href="{% url 'clientes:home' %}">Painel Administrativo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navigation">
            <div class="navbar-nav mr-auto">
                {% if user.is_authenticated and cliente%}
                    <a class="nav-link" href="">Meus bilhetes<span class="sr-only">(current)</span></a>
                {% endif %}
            </div>

            <span class="navbar-text">
                <div class="dropdown text-dash">
    
                    <a class="nav-link dropdown-toggle "  id="dropdown_user" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {% if user.is_authenticated %}
                            Bem-vindo | 
                            {% if cliente %}
                                {{ cliente.nome }}
                            {% else %}
                                {{ organizador.nome }} 
                            {% endif %}
                        {% else %}
                            Área do usuário
                        {% endif %}
                    </a>
                    <div class="dropdown-menu text-dash" aria-labelledby="dropdown_user">
                        {% if cliente %}
                            <a class="dropdown-item" href="{% url 'clientes:detail' cliente.pk %}">Perfil</a>
                            <div class="dropdown-divider"></div>
                        {% else %}
                            <a class="dropdown-item" href="">Perfil</a>
                            <div class="dropdown-divider"></div>
                        {% endif %}

                        {% if not user.is_authenticated %}
                            <a class="dropdown-item" href="">Entrar</a>
                        {% else %}
                            <a class="dropdown-item" href="{% url 'account_logout' %}">Sair</a>
                        {% endif %}
                    </div>
                </div>
            </span>
        </div>

    </div>
</nav>